x64/Debug/Qt6Cored.dll
x64/Debug/Qt6Sqld.dll
x64/Debug/QtCommonTools.dll
x64/Debug/QtCommonTools.exp
x64/Debug/QtCommonTools.ilk
x64/Debug/QtCommonTools.lib
x64/Debug/QtCommonTools.pdb
x64/Debug/QtHttpServer.exe
x64/Debug/QtHttpServer.ilk
x64/Debug/QtHttpServer.pdb
x64/Debug/qmake/qtvars_x64_Debug.props
x64/Debug/qmake/temp/.qmake.stash
x64/Debug/qmake/temp/9F6B297D-8895-4248-BDC7-800500118078.QtApplication1.designtime.idx
x64/Debug/qmake/temp/moc_predefs.h.cbt
x64/Debug/qmake/temp/props.txt
x64/Debug/qmake/temp/qtvars_x64_Debug.props
x64/Debug/qmake/temp/qtvars.log
x64/Debug/qmake/temp/qtvars.pro
x64/Debug/qmake/temp/qtvars.vcxproj
x64/Debug/qmake/temp/qtvars.vcxproj.filters
x64/Debug/sqldrivers/qsqlited.dll
x64/Debug/sqldrivers/qsqlmysqld.dll
x64/Debug/sqldrivers/qsqlodbcd.dll
x64/Debug/sqldrivers/qsqlpsqld.dll
x64/Debug/translations/qt_ar.qm
x64/Debug/translations/qt_bg.qm
x64/Debug/translations/qt_ca.qm
x64/Debug/translations/qt_cs.qm
x64/Debug/translations/qt_da.qm
x64/Debug/translations/qt_de.qm
x64/Debug/translations/qt_en.qm
x64/Debug/translations/qt_es.qm
x64/Debug/translations/qt_fa.qm
x64/Debug/translations/qt_fi.qm
x64/Debug/translations/qt_fr.qm
x64/Debug/translations/qt_gd.qm
x64/Debug/translations/qt_he.qm
x64/Debug/translations/qt_hr.qm
x64/Debug/translations/qt_hu.qm
x64/Debug/translations/qt_it.qm
x64/Debug/translations/qt_ja.qm
x64/Debug/translations/qt_ko.qm
x64/Debug/translations/qt_lv.qm
x64/Debug/translations/qt_nl.qm
x64/Debug/translations/qt_nn.qm
x64/Debug/translations/qt_pl.qm
x64/Debug/translations/qt_pt_BR.qm
x64/Debug/translations/qt_ru.qm
x64/Debug/translations/qt_sk.qm
x64/Debug/translations/qt_tr.qm
x64/Debug/translations/qt_uk.qm
x64/Debug/translations/qt_zh_CN.qm
x64/Debug/translations/qt_zh_TW.qm
.vs/QtApplication1/v17/fileList.bin
.vs/QtHttpServer/FileContentIndex/f8a7d353-fd2b-4ab2-88bb-b51b4c14e89f.vsidx
.vs/QtHttpServer/FileContentIndex/read.lock
.vs/QtHttpServer/v17/.suo
.vs/QtHttpServer/v17/Browse.VC.db
.vs/QtHttpServer/v17/fileList.bin
.vs/QtHttpServer/v17/Solution.VC.db
QtCommonTools/x64/Debug/qt_common_tools.obj
QtCommonTools/x64/Debug/QtCommonTools.Build.CppClean.log
QtCommonTools/x64/Debug/QtCommonTools.vcxproj.FileListAbsolute.txt
QtCommonTools/x64/Debug/vc143.pdb
QtCommonTools/x64/Debug/QtCommonTools.tlog/CL.command.1.tlog
QtCommonTools/x64/Debug/QtCommonTools.tlog/CL.read.1.tlog
QtCommonTools/x64/Debug/QtCommonTools.tlog/CL.write.1.tlog
QtCommonTools/x64/Debug/QtCommonTools.tlog/link.command.1.tlog
QtCommonTools/x64/Debug/QtCommonTools.tlog/link.read.1.tlog
QtCommonTools/x64/Debug/QtCommonTools.tlog/link.write.1.tlog
QtCommonTools/x64/Debug/QtCommonTools.tlog/QtCommonTools.lastbuildstate
QtCommonTools/x64/Debug/QtCommonTools.tlog/QtCommonTools.write.1u.tlog
QtCommonTools/x64/Debug/qmake/qtvars_x64_Debug.props
QtCommonTools/x64/Debug/qmake/temp/.qmake.stash
QtCommonTools/x64/Debug/qmake/temp/B027ACB4-FD16-485F-BFB8-595CA079C064.QtCommonTools.designtime.idx
QtCommonTools/x64/Debug/qmake/temp/qtvars_x64_Debug.props
QtCommonTools/x64/Debug/qmake/temp/qtvars.log
QtCommonTools/x64/Debug/qmake/temp/qtvars.vcxproj
QtHttpServer\.vs
QtHttpServer\.vscode